.category{
  flex: 7;
  padding: 20px;

  &-res_title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  &-result {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d9d9d9;
  }
  &-result_btn{
    .change{
      cursor: pointer;
      padding: 5px;
      margin-left: 5px;
      color: #00a500;
    }
    .delete{
      cursor: pointer;
      padding: 5px;
      margin-left: 5px;
      color: #bf0000;
    }
  }
}