.sidebar{
  flex: 1;
  height: calc(100vh - 70px);
  background: #3B82F6;
  position: sticky;
  top: 70px;
  z-index: 5;
 .bars{
   display: none;
 }
  &-wrapper{
    padding: 20px;

    .sidebar-menu{
      .sidebar-title{
        font-size: 20px;
        color: #ffffff;
      }
      .sidebar-list{
        list-style: none;
        padding: 0;

        &-item{
          position: relative;
          padding: 10px 0;
          font-size: 18px;
          &_icon{
            margin-right: 15px;
            color: #ffffff;
          }
          &_text{
            margin: 0;
          }
          &_link{
            text-decoration: none;
            color: #ffffff;
            display: flex;
            align-items: center;
             
            &:before {
              content: '';
              position: absolute;
              left: -20px;
              top: 0;
              bottom: 0;
              right: 0;
              height: 0;
              margin: auto 0;
              width: 3px;
              background-color: white;
              transition: all 0.4s linear;
            }
            &.active{
              &:after{
                content: '';
                display: block;
                position: absolute;
                right: -21px;
                top: 8px;
                border-bottom: 20px solid #ffffff;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                background-color: #3B82F6;
                transform: rotate(270deg);
              }
            }
            &:hover{
              &:before{
                height: 80%;
              }
            }
          }
        }
      }
    }

  }
}
@media only screen and (max-width:768px){

  .sidebar{
     
    
    .bars{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 20px;
      &-icon{
        font-size: 20px;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }

  .sidebar.active{
    width: 60px; 
    .bars{
      justify-content: center;
    }
    .sidebar-list{
      display: flex;
      flex-direction: column;
    }
    .sidebar-list-item_link{
      justify-content: center;
    }
    .sidebar-list-item_icon{
      font-size: 20px;
      margin-right: 0;
    }
    .sidebar-list-item_text{
      display: none;
    }

    }
  }


@media only screen and (max-width:640px){
  .sidebar{
    position: fixed;
  }
  .sidebar.active{
    left: -60px; 
    .bars{
      justify-content: center;
      .bars-icon{
        color: #3B82F6;
        font-size: 25px;
        position: relative;
        top: 5px;
        right: -55px;
        z-index: 999;
      }
    }
    .sidebar-list{
      display: flex;
      flex-direction: column;
    }
    .sidebar-list-item_link{
      justify-content: center;
    }
    .sidebar-list-item_icon{
      font-size: 20px;
      margin-right: 0;
    }
    .sidebar-list-item_text{
      display: none;
    }

    }
}