.container {
  display: flex;
}
.container .login-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 100vh;
}
.container .login-wrapper h1 {
  font-family: sans-serif;
  padding-bottom: 20px;
}
.container .login-wrapper_form {
  width: 500px;
  padding: 50px 30px;
  border: 1px solid #787878;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}
.container .login-wrapper_form input {
  padding: 10px;
  margin-bottom: 15px;
}
.container .login-wrapper_form .btn {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 15px;
}
.container .login-wrapper_form .btn button {
  padding: 7px 20px;
  background: #ffffff;
  border: 1px solid #787878;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.container .login-wrapper_form .btn button:hover {
  background: #222222;
  color: #ffffff;
}
.container .category, .container .certifications, .container .about, .container .courses, .container .news, .container .teachers, .container .login-wrapper, .container .individual, .container .group {
  flex: 7;
  padding: 50px;
}
.container .category .btn .lds-ellipsis, .container .certifications .btn .lds-ellipsis, .container .about .btn .lds-ellipsis, .container .courses .btn .lds-ellipsis, .container .news .btn .lds-ellipsis, .container .teachers .btn .lds-ellipsis, .container .login-wrapper .btn .lds-ellipsis, .container .individual .btn .lds-ellipsis, .container .group .btn .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 30px;
}
.container .category .btn .lds-ellipsis div, .container .certifications .btn .lds-ellipsis div, .container .about .btn .lds-ellipsis div, .container .courses .btn .lds-ellipsis div, .container .news .btn .lds-ellipsis div, .container .teachers .btn .lds-ellipsis div, .container .login-wrapper .btn .lds-ellipsis div, .container .individual .btn .lds-ellipsis div, .container .group .btn .lds-ellipsis div {
  position: absolute;
  top: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3B82F6;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.container .category .btn .lds-ellipsis div:nth-child(1), .container .certifications .btn .lds-ellipsis div:nth-child(1), .container .about .btn .lds-ellipsis div:nth-child(1), .container .courses .btn .lds-ellipsis div:nth-child(1), .container .news .btn .lds-ellipsis div:nth-child(1), .container .teachers .btn .lds-ellipsis div:nth-child(1), .container .login-wrapper .btn .lds-ellipsis div:nth-child(1), .container .individual .btn .lds-ellipsis div:nth-child(1), .container .group .btn .lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.container .category .btn .lds-ellipsis div:nth-child(2), .container .certifications .btn .lds-ellipsis div:nth-child(2), .container .about .btn .lds-ellipsis div:nth-child(2), .container .courses .btn .lds-ellipsis div:nth-child(2), .container .news .btn .lds-ellipsis div:nth-child(2), .container .teachers .btn .lds-ellipsis div:nth-child(2), .container .login-wrapper .btn .lds-ellipsis div:nth-child(2), .container .individual .btn .lds-ellipsis div:nth-child(2), .container .group .btn .lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.container .category .btn .lds-ellipsis div:nth-child(3), .container .certifications .btn .lds-ellipsis div:nth-child(3), .container .about .btn .lds-ellipsis div:nth-child(3), .container .courses .btn .lds-ellipsis div:nth-child(3), .container .news .btn .lds-ellipsis div:nth-child(3), .container .teachers .btn .lds-ellipsis div:nth-child(3), .container .login-wrapper .btn .lds-ellipsis div:nth-child(3), .container .individual .btn .lds-ellipsis div:nth-child(3), .container .group .btn .lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.container .category .btn .lds-ellipsis div:nth-child(4), .container .certifications .btn .lds-ellipsis div:nth-child(4), .container .about .btn .lds-ellipsis div:nth-child(4), .container .courses .btn .lds-ellipsis div:nth-child(4), .container .news .btn .lds-ellipsis div:nth-child(4), .container .teachers .btn .lds-ellipsis div:nth-child(4), .container .login-wrapper .btn .lds-ellipsis div:nth-child(4), .container .individual .btn .lds-ellipsis div:nth-child(4), .container .group .btn .lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.container .category .res-more, .container .certifications .res-more, .container .about .res-more, .container .courses .res-more, .container .news .res-more, .container .teachers .res-more, .container .login-wrapper .res-more, .container .individual .res-more, .container .group .res-more {
  margin-bottom: 15px;
}
.container .category .res-more_body, .container .certifications .res-more_body, .container .about .res-more_body, .container .courses .res-more_body, .container .news .res-more_body, .container .teachers .res-more_body, .container .login-wrapper .res-more_body, .container .individual .res-more_body, .container .group .res-more_body {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.container .category .res-more_body-image, .container .certifications .res-more_body-image, .container .about .res-more_body-image, .container .courses .res-more_body-image, .container .news .res-more_body-image, .container .teachers .res-more_body-image, .container .login-wrapper .res-more_body-image, .container .individual .res-more_body-image, .container .group .res-more_body-image {
  width: 50%;
  height: 30rem;
}
.container .category .res-more_body-item, .container .certifications .res-more_body-item, .container .about .res-more_body-item, .container .courses .res-more_body-item, .container .news .res-more_body-item, .container .teachers .res-more_body-item, .container .login-wrapper .res-more_body-item, .container .individual .res-more_body-item, .container .group .res-more_body-item {
  width: 50%;
  padding: 0 15px;
  font-family: sans-serif;
  font-size: 18px;
  text-align: justify;
  line-height: 1.4;
}
.container .category .res-btns, .container .certifications .res-btns, .container .about .res-btns, .container .courses .res-btns, .container .news .res-btns, .container .teachers .res-btns, .container .login-wrapper .res-btns, .container .individual .res-btns, .container .group .res-btns {
  display: flex;
  justify-content: end;
}
.container .category .res-btns_gr, .container .certifications .res-btns_gr, .container .about .res-btns_gr, .container .courses .res-btns_gr, .container .news .res-btns_gr, .container .teachers .res-btns_gr, .container .login-wrapper .res-btns_gr, .container .individual .res-btns_gr, .container .group .res-btns_gr {
  text-decoration: none;
  border: none;
  padding: 5px 10px;
  background: #4fa800;
  font-size: 15px;
  font-family: sans-serif;
  color: #ffffff;
  margin-right: 20px;
}
.container .category .res-btns_in, .container .certifications .res-btns_in, .container .about .res-btns_in, .container .courses .res-btns_in, .container .news .res-btns_in, .container .teachers .res-btns_in, .container .login-wrapper .res-btns_in, .container .individual .res-btns_in, .container .group .res-btns_in {
  text-decoration: none;
  border: none;
  padding: 5px 10px;
  background: #4fa800;
  font-size: 15px;
  font-family: sans-serif;
  color: #ffffff;
  margin-right: 20px;
}
.container .category .res-btns_back, .container .certifications .res-btns_back, .container .about .res-btns_back, .container .courses .res-btns_back, .container .news .res-btns_back, .container .teachers .res-btns_back, .container .login-wrapper .res-btns_back, .container .individual .res-btns_back, .container .group .res-btns_back {
  text-decoration: none;
  border: none;
  padding: 5px 10px;
  background: #ce0202;
  font-size: 15px;
  font-family: sans-serif;
  color: #ffffff;
  margin-right: 20px;
}
.container .category .card-wrapper, .container .certifications .card-wrapper, .container .about .card-wrapper, .container .courses .card-wrapper, .container .news .card-wrapper, .container .teachers .card-wrapper, .container .login-wrapper .card-wrapper, .container .individual .card-wrapper, .container .group .card-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  padding: 30px 0;
}
.container .category .card-wrapper_card, .container .certifications .card-wrapper_card, .container .about .card-wrapper_card, .container .courses .card-wrapper_card, .container .news .card-wrapper_card, .container .teachers .card-wrapper_card, .container .login-wrapper .card-wrapper_card, .container .individual .card-wrapper_card, .container .group .card-wrapper_card {
  width: 23rem;
  height: auto;
  border: 1px solid #767676;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .category .card-wrapper_card-image, .container .certifications .card-wrapper_card-image, .container .about .card-wrapper_card-image, .container .courses .card-wrapper_card-image, .container .news .card-wrapper_card-image, .container .teachers .card-wrapper_card-image, .container .login-wrapper .card-wrapper_card-image, .container .individual .card-wrapper_card-image, .container .group .card-wrapper_card-image {
  height: 12rem;
}
.container .category .card-wrapper_card-text, .container .certifications .card-wrapper_card-text, .container .about .card-wrapper_card-text, .container .courses .card-wrapper_card-text, .container .news .card-wrapper_card-text, .container .teachers .card-wrapper_card-text, .container .login-wrapper .card-wrapper_card-text, .container .individual .card-wrapper_card-text, .container .group .card-wrapper_card-text {
  padding: 7px 10px;
}
.container .category .card-wrapper_card-text_title, .container .certifications .card-wrapper_card-text_title, .container .about .card-wrapper_card-text_title, .container .courses .card-wrapper_card-text_title, .container .news .card-wrapper_card-text_title, .container .teachers .card-wrapper_card-text_title, .container .login-wrapper .card-wrapper_card-text_title, .container .individual .card-wrapper_card-text_title, .container .group .card-wrapper_card-text_title {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
  text-transform: capitalize;
  font-family: sans-serif;
  text-align: center;
  color: #3B82F6;
}
.container .category .card-wrapper_card-text_des, .container .certifications .card-wrapper_card-text_des, .container .about .card-wrapper_card-text_des, .container .courses .card-wrapper_card-text_des, .container .news .card-wrapper_card-text_des, .container .teachers .card-wrapper_card-text_des, .container .login-wrapper .card-wrapper_card-text_des, .container .individual .card-wrapper_card-text_des, .container .group .card-wrapper_card-text_des {
  font-family: sans-serif;
  text-align: justify;
}
.container .category .card-wrapper_card-btns, .container .certifications .card-wrapper_card-btns, .container .about .card-wrapper_card-btns, .container .courses .card-wrapper_card-btns, .container .news .card-wrapper_card-btns, .container .teachers .card-wrapper_card-btns, .container .login-wrapper .card-wrapper_card-btns, .container .individual .card-wrapper_card-btns, .container .group .card-wrapper_card-btns {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .category .card-wrapper_card-btns .more, .container .certifications .card-wrapper_card-btns .more, .container .about .card-wrapper_card-btns .more, .container .courses .card-wrapper_card-btns .more, .container .news .card-wrapper_card-btns .more, .container .teachers .card-wrapper_card-btns .more, .container .login-wrapper .card-wrapper_card-btns .more, .container .individual .card-wrapper_card-btns .more, .container .group .card-wrapper_card-btns .more {
  text-decoration: none;
  border: none;
  padding: 5px 10px;
  background: #3B82F6;
  font-size: 15px;
  font-family: sans-serif;
  color: #ffffff;
  cursor: pointer;
}
.container .category .card-wrapper_card-btns div, .container .certifications .card-wrapper_card-btns div, .container .about .card-wrapper_card-btns div, .container .courses .card-wrapper_card-btns div, .container .news .card-wrapper_card-btns div, .container .teachers .card-wrapper_card-btns div, .container .login-wrapper .card-wrapper_card-btns div, .container .individual .card-wrapper_card-btns div, .container .group .card-wrapper_card-btns div {
  text-decoration: none;
  border: none;
  padding: 5px 10px;
  background: #ce0202;
  font-size: 15px;
  font-family: sans-serif;
  color: #ffffff;
  cursor: pointer;
}
.container .category .card-wrapper_card-btns .NavLink, .container .certifications .card-wrapper_card-btns .NavLink, .container .about .card-wrapper_card-btns .NavLink, .container .courses .card-wrapper_card-btns .NavLink, .container .news .card-wrapper_card-btns .NavLink, .container .teachers .card-wrapper_card-btns .NavLink, .container .login-wrapper .card-wrapper_card-btns .NavLink, .container .individual .card-wrapper_card-btns .NavLink, .container .group .card-wrapper_card-btns .NavLink {
  text-decoration: none;
  border: none;
  padding: 5px 10px;
  background: #4fa800;
  font-size: 15px;
  font-family: sans-serif;
  color: #ffffff;
}
.container .category-title, .container .certifications-title, .container .about-title, .container .courses-title, .container .news-title, .container .teachers-title, .container .login-wrapper-title, .container .individual-title, .container .group-title {
  text-align: center;
  font-family: sans-serif;
  color: #3B82F6;
  padding: 0;
  margin: 0;
}
.container .category-wrapper, .container .certifications-wrapper, .container .about-wrapper, .container .courses-wrapper, .container .news-wrapper, .container .teachers-wrapper, .container .login-wrapper-wrapper, .container .individual-wrapper, .container .group-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .category-wrapper_form, .container .certifications-wrapper_form, .container .about-wrapper_form, .container .courses-wrapper_form, .container .news-wrapper_form, .container .teachers-wrapper_form, .container .login-wrapper-wrapper_form, .container .individual-wrapper_form, .container .group-wrapper_form {
  width: 100%;
}
.container .category-wrapper_form .input-group, .container .certifications-wrapper_form .input-group, .container .about-wrapper_form .input-group, .container .courses-wrapper_form .input-group, .container .news-wrapper_form .input-group, .container .teachers-wrapper_form .input-group, .container .login-wrapper-wrapper_form .input-group, .container .individual-wrapper_form .input-group, .container .group-wrapper_form .input-group {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
.container .category-wrapper_form .input-group .switch, .container .certifications-wrapper_form .input-group .switch, .container .about-wrapper_form .input-group .switch, .container .courses-wrapper_form .input-group .switch, .container .news-wrapper_form .input-group .switch, .container .teachers-wrapper_form .input-group .switch, .container .login-wrapper-wrapper_form .input-group .switch, .container .individual-wrapper_form .input-group .switch, .container .group-wrapper_form .input-group .switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
.container .category-wrapper_form .input-group .switch input, .container .certifications-wrapper_form .input-group .switch input, .container .about-wrapper_form .input-group .switch input, .container .courses-wrapper_form .input-group .switch input, .container .news-wrapper_form .input-group .switch input, .container .teachers-wrapper_form .input-group .switch input, .container .login-wrapper-wrapper_form .input-group .switch input, .container .individual-wrapper_form .input-group .switch input, .container .group-wrapper_form .input-group .switch input {
  display: none;
}
.container .category-wrapper_form .input-group .slider, .container .certifications-wrapper_form .input-group .slider, .container .about-wrapper_form .input-group .slider, .container .courses-wrapper_form .input-group .slider, .container .news-wrapper_form .input-group .slider, .container .teachers-wrapper_form .input-group .slider, .container .login-wrapper-wrapper_form .input-group .slider, .container .individual-wrapper_form .input-group .slider, .container .group-wrapper_form .input-group .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.container .category-wrapper_form .input-group .slider:before, .container .certifications-wrapper_form .input-group .slider:before, .container .about-wrapper_form .input-group .slider:before, .container .courses-wrapper_form .input-group .slider:before, .container .news-wrapper_form .input-group .slider:before, .container .teachers-wrapper_form .input-group .slider:before, .container .login-wrapper-wrapper_form .input-group .slider:before, .container .individual-wrapper_form .input-group .slider:before, .container .group-wrapper_form .input-group .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}
.container .category-wrapper_form .input-group input:checked + .slider, .container .certifications-wrapper_form .input-group input:checked + .slider, .container .about-wrapper_form .input-group input:checked + .slider, .container .courses-wrapper_form .input-group input:checked + .slider, .container .news-wrapper_form .input-group input:checked + .slider, .container .teachers-wrapper_form .input-group input:checked + .slider, .container .login-wrapper-wrapper_form .input-group input:checked + .slider, .container .individual-wrapper_form .input-group input:checked + .slider, .container .group-wrapper_form .input-group input:checked + .slider {
  background-color: #3B82F6;
}
.container .category-wrapper_form .input-group input:checked + .slider:before, .container .certifications-wrapper_form .input-group input:checked + .slider:before, .container .about-wrapper_form .input-group input:checked + .slider:before, .container .courses-wrapper_form .input-group input:checked + .slider:before, .container .news-wrapper_form .input-group input:checked + .slider:before, .container .teachers-wrapper_form .input-group input:checked + .slider:before, .container .login-wrapper-wrapper_form .input-group input:checked + .slider:before, .container .individual-wrapper_form .input-group input:checked + .slider:before, .container .group-wrapper_form .input-group input:checked + .slider:before {
  transform: translateX(26px);
}
.container .category-wrapper_form .input-group .slider.round, .container .certifications-wrapper_form .input-group .slider.round, .container .about-wrapper_form .input-group .slider.round, .container .courses-wrapper_form .input-group .slider.round, .container .news-wrapper_form .input-group .slider.round, .container .teachers-wrapper_form .input-group .slider.round, .container .login-wrapper-wrapper_form .input-group .slider.round, .container .individual-wrapper_form .input-group .slider.round, .container .group-wrapper_form .input-group .slider.round {
  border-radius: 34px;
}
.container .category-wrapper_form .input-group .slider.round:before, .container .certifications-wrapper_form .input-group .slider.round:before, .container .about-wrapper_form .input-group .slider.round:before, .container .courses-wrapper_form .input-group .slider.round:before, .container .news-wrapper_form .input-group .slider.round:before, .container .teachers-wrapper_form .input-group .slider.round:before, .container .login-wrapper-wrapper_form .input-group .slider.round:before, .container .individual-wrapper_form .input-group .slider.round:before, .container .group-wrapper_form .input-group .slider.round:before {
  border-radius: 50%;
}
.container .category-wrapper_form .input-group label, .container .certifications-wrapper_form .input-group label, .container .about-wrapper_form .input-group label, .container .courses-wrapper_form .input-group label, .container .news-wrapper_form .input-group label, .container .teachers-wrapper_form .input-group label, .container .login-wrapper-wrapper_form .input-group label, .container .individual-wrapper_form .input-group label, .container .group-wrapper_form .input-group label {
  font-size: 20px;
  margin-bottom: 15px;
}
.container .category-wrapper_form .input-group input, .container .category-wrapper_form .input-group select, .container .certifications-wrapper_form .input-group input, .container .certifications-wrapper_form .input-group select, .container .about-wrapper_form .input-group input, .container .about-wrapper_form .input-group select, .container .courses-wrapper_form .input-group input, .container .courses-wrapper_form .input-group select, .container .news-wrapper_form .input-group input, .container .news-wrapper_form .input-group select, .container .teachers-wrapper_form .input-group input, .container .teachers-wrapper_form .input-group select, .container .login-wrapper-wrapper_form .input-group input, .container .login-wrapper-wrapper_form .input-group select, .container .individual-wrapper_form .input-group input, .container .individual-wrapper_form .input-group select, .container .group-wrapper_form .input-group input, .container .group-wrapper_form .input-group select {
  margin-bottom: 20px;
  padding: 10px;
}
.container .category-wrapper_form .input-group textarea, .container .certifications-wrapper_form .input-group textarea, .container .about-wrapper_form .input-group textarea, .container .courses-wrapper_form .input-group textarea, .container .news-wrapper_form .input-group textarea, .container .teachers-wrapper_form .input-group textarea, .container .login-wrapper-wrapper_form .input-group textarea, .container .individual-wrapper_form .input-group textarea, .container .group-wrapper_form .input-group textarea {
  margin-bottom: 20px;
  padding: 10px;
}
.container .category-wrapper_form .input-group .image, .container .certifications-wrapper_form .input-group .image, .container .about-wrapper_form .input-group .image, .container .courses-wrapper_form .input-group .image, .container .news-wrapper_form .input-group .image, .container .teachers-wrapper_form .input-group .image, .container .login-wrapper-wrapper_form .input-group .image, .container .individual-wrapper_form .input-group .image, .container .group-wrapper_form .input-group .image {
  border: 1px solid #767676;
  cursor: pointer;
}
.container .category-wrapper_form .input-group .btn, .container .certifications-wrapper_form .input-group .btn, .container .about-wrapper_form .input-group .btn, .container .courses-wrapper_form .input-group .btn, .container .news-wrapper_form .input-group .btn, .container .teachers-wrapper_form .input-group .btn, .container .login-wrapper-wrapper_form .input-group .btn, .container .individual-wrapper_form .input-group .btn, .container .group-wrapper_form .input-group .btn {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 15px;
}
.container .category-wrapper_form .input-group .btn button, .container .certifications-wrapper_form .input-group .btn button, .container .about-wrapper_form .input-group .btn button, .container .courses-wrapper_form .input-group .btn button, .container .news-wrapper_form .input-group .btn button, .container .teachers-wrapper_form .input-group .btn button, .container .login-wrapper-wrapper_form .input-group .btn button, .container .individual-wrapper_form .input-group .btn button, .container .group-wrapper_form .input-group .btn button {
  padding: 7px 20px;
  background: #ffffff;
  border: 1px solid #787878;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.container .category-wrapper_form .input-group .btn button:hover, .container .certifications-wrapper_form .input-group .btn button:hover, .container .about-wrapper_form .input-group .btn button:hover, .container .courses-wrapper_form .input-group .btn button:hover, .container .news-wrapper_form .input-group .btn button:hover, .container .teachers-wrapper_form .input-group .btn button:hover, .container .login-wrapper-wrapper_form .input-group .btn button:hover, .container .individual-wrapper_form .input-group .btn button:hover, .container .group-wrapper_form .input-group .btn button:hover {
  background: #222222;
  color: #ffffff;
}

/*# sourceMappingURL=App.css.map */
