.container {
  display: flex;
}
.container .right_side {
  margin: 0 0 0 250px;
  width: 100%;
}
@media (max-width: 768px) {
  .container .right_side {
    margin: 0 0 0 60px;
  }
}
@media (max-width: 640px) {
  .container .right_side {
    margin: 0;
  }
}
.container .right_side .login-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 100vh;
  z-index: 9999;
}
@media only screen and (max-width: 660px) {
  .container .right_side .login-wrapper {
    padding: 0 10px !important;
  }
}
.container .right_side .login-wrapper h1 {
  font-family: sans-serif;
  padding-bottom: 20px;
}
@media only screen and (max-width: 660px) {
  .container .right_side .login-wrapper h1 {
    font-size: 20px;
  }
}
.container .right_side .login-wrapper_form {
  width: 500px;
  padding: 50px 30px;
  border: 1px solid #787878;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 660px) {
  .container .right_side .login-wrapper_form {
    width: 100% !important;
    box-sizing: border-box !important;
    padding: 30px 10px !important;
  }
}
.container .right_side .login-wrapper_form input {
  padding: 10px;
  margin-bottom: 15px;
}
.container .right_side .login-wrapper_form .btn {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 15px;
}
.container .right_side .login-wrapper_form .btn button {
  padding: 7px 20px;
  background: #ffffff;
  border: 1px solid #787878;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.container .right_side .login-wrapper_form .btn button:hover {
  background: #222222;
  color: #ffffff;
}
.container .right_side .category, .container .right_side .certifications, .container .right_side .about, .container .right_side .courses, .container .right_side .news, .container .right_side .teachers, .container .right_side .login-wrapper, .container .right_side .individual, .container .right_side .group {
  padding: 50px;
}
.container .right_side .category .btn .lds-ellipsis, .container .right_side .certifications .btn .lds-ellipsis, .container .right_side .about .btn .lds-ellipsis, .container .right_side .courses .btn .lds-ellipsis, .container .right_side .news .btn .lds-ellipsis, .container .right_side .teachers .btn .lds-ellipsis, .container .right_side .login-wrapper .btn .lds-ellipsis, .container .right_side .individual .btn .lds-ellipsis, .container .right_side .group .btn .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 30px;
}
.container .right_side .category .btn .lds-ellipsis div, .container .right_side .certifications .btn .lds-ellipsis div, .container .right_side .about .btn .lds-ellipsis div, .container .right_side .courses .btn .lds-ellipsis div, .container .right_side .news .btn .lds-ellipsis div, .container .right_side .teachers .btn .lds-ellipsis div, .container .right_side .login-wrapper .btn .lds-ellipsis div, .container .right_side .individual .btn .lds-ellipsis div, .container .right_side .group .btn .lds-ellipsis div {
  position: absolute;
  top: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3B82F6;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.container .right_side .category .btn .lds-ellipsis div:nth-child(1), .container .right_side .certifications .btn .lds-ellipsis div:nth-child(1), .container .right_side .about .btn .lds-ellipsis div:nth-child(1), .container .right_side .courses .btn .lds-ellipsis div:nth-child(1), .container .right_side .news .btn .lds-ellipsis div:nth-child(1), .container .right_side .teachers .btn .lds-ellipsis div:nth-child(1), .container .right_side .login-wrapper .btn .lds-ellipsis div:nth-child(1), .container .right_side .individual .btn .lds-ellipsis div:nth-child(1), .container .right_side .group .btn .lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.container .right_side .category .btn .lds-ellipsis div:nth-child(2), .container .right_side .certifications .btn .lds-ellipsis div:nth-child(2), .container .right_side .about .btn .lds-ellipsis div:nth-child(2), .container .right_side .courses .btn .lds-ellipsis div:nth-child(2), .container .right_side .news .btn .lds-ellipsis div:nth-child(2), .container .right_side .teachers .btn .lds-ellipsis div:nth-child(2), .container .right_side .login-wrapper .btn .lds-ellipsis div:nth-child(2), .container .right_side .individual .btn .lds-ellipsis div:nth-child(2), .container .right_side .group .btn .lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.container .right_side .category .btn .lds-ellipsis div:nth-child(3), .container .right_side .certifications .btn .lds-ellipsis div:nth-child(3), .container .right_side .about .btn .lds-ellipsis div:nth-child(3), .container .right_side .courses .btn .lds-ellipsis div:nth-child(3), .container .right_side .news .btn .lds-ellipsis div:nth-child(3), .container .right_side .teachers .btn .lds-ellipsis div:nth-child(3), .container .right_side .login-wrapper .btn .lds-ellipsis div:nth-child(3), .container .right_side .individual .btn .lds-ellipsis div:nth-child(3), .container .right_side .group .btn .lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.container .right_side .category .btn .lds-ellipsis div:nth-child(4), .container .right_side .certifications .btn .lds-ellipsis div:nth-child(4), .container .right_side .about .btn .lds-ellipsis div:nth-child(4), .container .right_side .courses .btn .lds-ellipsis div:nth-child(4), .container .right_side .news .btn .lds-ellipsis div:nth-child(4), .container .right_side .teachers .btn .lds-ellipsis div:nth-child(4), .container .right_side .login-wrapper .btn .lds-ellipsis div:nth-child(4), .container .right_side .individual .btn .lds-ellipsis div:nth-child(4), .container .right_side .group .btn .lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.container .right_side .category .res-more, .container .right_side .certifications .res-more, .container .right_side .about .res-more, .container .right_side .courses .res-more, .container .right_side .news .res-more, .container .right_side .teachers .res-more, .container .right_side .login-wrapper .res-more, .container .right_side .individual .res-more, .container .right_side .group .res-more {
  margin-bottom: 15px;
}
.container .right_side .category .res-more_body, .container .right_side .certifications .res-more_body, .container .right_side .about .res-more_body, .container .right_side .courses .res-more_body, .container .right_side .news .res-more_body, .container .right_side .teachers .res-more_body, .container .right_side .login-wrapper .res-more_body, .container .right_side .individual .res-more_body, .container .right_side .group .res-more_body {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.container .right_side .category .res-more_body-image, .container .right_side .certifications .res-more_body-image, .container .right_side .about .res-more_body-image, .container .right_side .courses .res-more_body-image, .container .right_side .news .res-more_body-image, .container .right_side .teachers .res-more_body-image, .container .right_side .login-wrapper .res-more_body-image, .container .right_side .individual .res-more_body-image, .container .right_side .group .res-more_body-image {
  width: 50%;
  height: 30rem;
}
@media only screen and (max-width: 1020px) {
  .container .right_side .category .res-more_body, .container .right_side .certifications .res-more_body, .container .right_side .about .res-more_body, .container .right_side .courses .res-more_body, .container .right_side .news .res-more_body, .container .right_side .teachers .res-more_body, .container .right_side .login-wrapper .res-more_body, .container .right_side .individual .res-more_body, .container .right_side .group .res-more_body {
    flex-direction: column;
  }
  .container .right_side .category .res-more_body-image, .container .right_side .certifications .res-more_body-image, .container .right_side .about .res-more_body-image, .container .right_side .courses .res-more_body-image, .container .right_side .news .res-more_body-image, .container .right_side .teachers .res-more_body-image, .container .right_side .login-wrapper .res-more_body-image, .container .right_side .individual .res-more_body-image, .container .right_side .group .res-more_body-image {
    width: 100%;
    margin-bottom: 15px;
  }
}
.container .right_side .category .res-more_body-item, .container .right_side .certifications .res-more_body-item, .container .right_side .about .res-more_body-item, .container .right_side .courses .res-more_body-item, .container .right_side .news .res-more_body-item, .container .right_side .teachers .res-more_body-item, .container .right_side .login-wrapper .res-more_body-item, .container .right_side .individual .res-more_body-item, .container .right_side .group .res-more_body-item {
  width: 50%;
  padding: 0 15px;
  font-family: sans-serif;
  font-size: 18px;
  text-align: justify;
  line-height: 1.4;
}
@media only screen and (max-width: 1020px) {
  .container .right_side .category .res-more_body-item, .container .right_side .certifications .res-more_body-item, .container .right_side .about .res-more_body-item, .container .right_side .courses .res-more_body-item, .container .right_side .news .res-more_body-item, .container .right_side .teachers .res-more_body-item, .container .right_side .login-wrapper .res-more_body-item, .container .right_side .individual .res-more_body-item, .container .right_side .group .res-more_body-item {
    padding: 0;
    width: 100%;
  }
}
.container .right_side .category .res-btns, .container .right_side .certifications .res-btns, .container .right_side .about .res-btns, .container .right_side .courses .res-btns, .container .right_side .news .res-btns, .container .right_side .teachers .res-btns, .container .right_side .login-wrapper .res-btns, .container .right_side .individual .res-btns, .container .right_side .group .res-btns {
  display: flex;
  justify-content: end;
}
@media only screen and (max-width: 360px) {
  .container .right_side .category .res-btns, .container .right_side .certifications .res-btns, .container .right_side .about .res-btns, .container .right_side .courses .res-btns, .container .right_side .news .res-btns, .container .right_side .teachers .res-btns, .container .right_side .login-wrapper .res-btns, .container .right_side .individual .res-btns, .container .right_side .group .res-btns {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 10px !important;
  }
}
.container .right_side .category .res-btns_gr, .container .right_side .certifications .res-btns_gr, .container .right_side .about .res-btns_gr, .container .right_side .courses .res-btns_gr, .container .right_side .news .res-btns_gr, .container .right_side .teachers .res-btns_gr, .container .right_side .login-wrapper .res-btns_gr, .container .right_side .individual .res-btns_gr, .container .right_side .group .res-btns_gr {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  padding: 5px 10px;
  background: #4fa800;
  font-size: 15px;
  font-family: sans-serif;
  color: #ffffff;
  margin-right: 20px;
}
.container .right_side .category .res-btns_gr .icon, .container .right_side .certifications .res-btns_gr .icon, .container .right_side .about .res-btns_gr .icon, .container .right_side .courses .res-btns_gr .icon, .container .right_side .news .res-btns_gr .icon, .container .right_side .teachers .res-btns_gr .icon, .container .right_side .login-wrapper .res-btns_gr .icon, .container .right_side .individual .res-btns_gr .icon, .container .right_side .group .res-btns_gr .icon {
  color: white;
  font-size: 18px;
  margin-left: 5px;
}
@media only screen and (max-width: 360px) {
  .container .right_side .category .res-btns_gr, .container .right_side .certifications .res-btns_gr, .container .right_side .about .res-btns_gr, .container .right_side .courses .res-btns_gr, .container .right_side .news .res-btns_gr, .container .right_side .teachers .res-btns_gr, .container .right_side .login-wrapper .res-btns_gr, .container .right_side .individual .res-btns_gr, .container .right_side .group .res-btns_gr {
    margin-right: 0 !important;
  }
}
.container .right_side .category .res-btns_in, .container .right_side .certifications .res-btns_in, .container .right_side .about .res-btns_in, .container .right_side .courses .res-btns_in, .container .right_side .news .res-btns_in, .container .right_side .teachers .res-btns_in, .container .right_side .login-wrapper .res-btns_in, .container .right_side .individual .res-btns_in, .container .right_side .group .res-btns_in {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  padding: 5px 10px;
  background: #4fa800;
  font-size: 15px;
  font-family: sans-serif;
  color: #ffffff;
  margin-right: 20px;
}
.container .right_side .category .res-btns_in .icon, .container .right_side .certifications .res-btns_in .icon, .container .right_side .about .res-btns_in .icon, .container .right_side .courses .res-btns_in .icon, .container .right_side .news .res-btns_in .icon, .container .right_side .teachers .res-btns_in .icon, .container .right_side .login-wrapper .res-btns_in .icon, .container .right_side .individual .res-btns_in .icon, .container .right_side .group .res-btns_in .icon {
  color: white;
  font-size: 18px;
  margin-left: 5px;
}
@media only screen and (max-width: 360px) {
  .container .right_side .category .res-btns_in, .container .right_side .certifications .res-btns_in, .container .right_side .about .res-btns_in, .container .right_side .courses .res-btns_in, .container .right_side .news .res-btns_in, .container .right_side .teachers .res-btns_in, .container .right_side .login-wrapper .res-btns_in, .container .right_side .individual .res-btns_in, .container .right_side .group .res-btns_in {
    margin-right: 0 !important;
  }
}
.container .right_side .category .res-btns_back, .container .right_side .certifications .res-btns_back, .container .right_side .about .res-btns_back, .container .right_side .courses .res-btns_back, .container .right_side .news .res-btns_back, .container .right_side .teachers .res-btns_back, .container .right_side .login-wrapper .res-btns_back, .container .right_side .individual .res-btns_back, .container .right_side .group .res-btns_back {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  padding: 5px 10px;
  background: #ce0202;
  font-size: 15px;
  font-family: sans-serif;
  color: #ffffff;
  margin-right: 20px;
}
.container .right_side .category .res-btns_back .icon, .container .right_side .certifications .res-btns_back .icon, .container .right_side .about .res-btns_back .icon, .container .right_side .courses .res-btns_back .icon, .container .right_side .news .res-btns_back .icon, .container .right_side .teachers .res-btns_back .icon, .container .right_side .login-wrapper .res-btns_back .icon, .container .right_side .individual .res-btns_back .icon, .container .right_side .group .res-btns_back .icon {
  color: white;
  font-size: 18px;
  margin-left: 5px;
}
@media only screen and (max-width: 360px) {
  .container .right_side .category .res-btns_back, .container .right_side .certifications .res-btns_back, .container .right_side .about .res-btns_back, .container .right_side .courses .res-btns_back, .container .right_side .news .res-btns_back, .container .right_side .teachers .res-btns_back, .container .right_side .login-wrapper .res-btns_back, .container .right_side .individual .res-btns_back, .container .right_side .group .res-btns_back {
    margin-right: 0 !important;
  }
}
.container .right_side .category .card-wrapper, .container .right_side .certifications .card-wrapper, .container .right_side .about .card-wrapper, .container .right_side .courses .card-wrapper, .container .right_side .news .card-wrapper, .container .right_side .teachers .card-wrapper, .container .right_side .login-wrapper .card-wrapper, .container .right_side .individual .card-wrapper, .container .right_side .group .card-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  padding: 30px 0;
}
@media (max-width: 640px) {
  .container .right_side .category .card-wrapper, .container .right_side .certifications .card-wrapper, .container .right_side .about .card-wrapper, .container .right_side .courses .card-wrapper, .container .right_side .news .card-wrapper, .container .right_side .teachers .card-wrapper, .container .right_side .login-wrapper .card-wrapper, .container .right_side .individual .card-wrapper, .container .right_side .group .card-wrapper {
    flex-direction: column;
    padding: 0;
  }
}
.container .right_side .category .card-wrapper .res-group.noActive .res-group_isActive, .container .right_side .certifications .card-wrapper .res-group.noActive .res-group_isActive, .container .right_side .about .card-wrapper .res-group.noActive .res-group_isActive, .container .right_side .courses .card-wrapper .res-group.noActive .res-group_isActive, .container .right_side .news .card-wrapper .res-group.noActive .res-group_isActive, .container .right_side .teachers .card-wrapper .res-group.noActive .res-group_isActive, .container .right_side .login-wrapper .card-wrapper .res-group.noActive .res-group_isActive, .container .right_side .individual .card-wrapper .res-group.noActive .res-group_isActive, .container .right_side .group .card-wrapper .res-group.noActive .res-group_isActive {
  background-color: #ce020280;
}
.container .right_side .category .card-wrapper .res-group.active .res-group_isActive, .container .right_side .certifications .card-wrapper .res-group.active .res-group_isActive, .container .right_side .about .card-wrapper .res-group.active .res-group_isActive, .container .right_side .courses .card-wrapper .res-group.active .res-group_isActive, .container .right_side .news .card-wrapper .res-group.active .res-group_isActive, .container .right_side .teachers .card-wrapper .res-group.active .res-group_isActive, .container .right_side .login-wrapper .card-wrapper .res-group.active .res-group_isActive, .container .right_side .individual .card-wrapper .res-group.active .res-group_isActive, .container .right_side .group .card-wrapper .res-group.active .res-group_isActive {
  background-color: #3B82F6;
}
.container .right_side .category .card-wrapper .res-group, .container .right_side .certifications .card-wrapper .res-group, .container .right_side .about .card-wrapper .res-group, .container .right_side .courses .card-wrapper .res-group, .container .right_side .news .card-wrapper .res-group, .container .right_side .teachers .card-wrapper .res-group, .container .right_side .login-wrapper .card-wrapper .res-group, .container .right_side .individual .card-wrapper .res-group, .container .right_side .group .card-wrapper .res-group {
  width: 23rem;
  height: auto;
  background: #ffffff;
  padding: 15px;
  flex-wrap: wrap;
  border: 1px solid #3B82F6;
  font-size: 18px;
  font-family: sans-serif;
  position: relative;
  overflow: hidden;
}
.container .right_side .category .card-wrapper .res-group *, .container .right_side .certifications .card-wrapper .res-group *, .container .right_side .about .card-wrapper .res-group *, .container .right_side .courses .card-wrapper .res-group *, .container .right_side .news .card-wrapper .res-group *, .container .right_side .teachers .card-wrapper .res-group *, .container .right_side .login-wrapper .card-wrapper .res-group *, .container .right_side .individual .card-wrapper .res-group *, .container .right_side .group .card-wrapper .res-group * {
  margin-bottom: 10px;
}
.container .right_side .category .card-wrapper .res-group_isActive, .container .right_side .certifications .card-wrapper .res-group_isActive, .container .right_side .about .card-wrapper .res-group_isActive, .container .right_side .courses .card-wrapper .res-group_isActive, .container .right_side .news .card-wrapper .res-group_isActive, .container .right_side .teachers .card-wrapper .res-group_isActive, .container .right_side .login-wrapper .card-wrapper .res-group_isActive, .container .right_side .individual .card-wrapper .res-group_isActive, .container .right_side .group .card-wrapper .res-group_isActive {
  color: #222222;
  letter-spacing: 1px;
  position: absolute;
  top: 35px;
  right: -35px;
  transform: rotate(45deg);
  padding: 0 30px;
  width: 100px;
  text-align: center;
  color: #fff;
}
.container .right_side .category .card-wrapper .res-group span, .container .right_side .certifications .card-wrapper .res-group span, .container .right_side .about .card-wrapper .res-group span, .container .right_side .courses .card-wrapper .res-group span, .container .right_side .news .card-wrapper .res-group span, .container .right_side .teachers .card-wrapper .res-group span, .container .right_side .login-wrapper .card-wrapper .res-group span, .container .right_side .individual .card-wrapper .res-group span, .container .right_side .group .card-wrapper .res-group span {
  color: blue;
}
.container .right_side .category .card-wrapper .res-group_name, .container .right_side .certifications .card-wrapper .res-group_name, .container .right_side .about .card-wrapper .res-group_name, .container .right_side .courses .card-wrapper .res-group_name, .container .right_side .news .card-wrapper .res-group_name, .container .right_side .teachers .card-wrapper .res-group_name, .container .right_side .login-wrapper .card-wrapper .res-group_name, .container .right_side .individual .card-wrapper .res-group_name, .container .right_side .group .card-wrapper .res-group_name {
  text-align: center;
}
.container .right_side .category .card-wrapper .res-group_text, .container .right_side .certifications .card-wrapper .res-group_text, .container .right_side .about .card-wrapper .res-group_text, .container .right_side .courses .card-wrapper .res-group_text, .container .right_side .news .card-wrapper .res-group_text, .container .right_side .teachers .card-wrapper .res-group_text, .container .right_side .login-wrapper .card-wrapper .res-group_text, .container .right_side .individual .card-wrapper .res-group_text, .container .right_side .group .card-wrapper .res-group_text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #111111d3;
  letter-spacing: 1px;
}
.container .right_side .category .card-wrapper .res-group_text h3, .container .right_side .certifications .card-wrapper .res-group_text h3, .container .right_side .about .card-wrapper .res-group_text h3, .container .right_side .courses .card-wrapper .res-group_text h3, .container .right_side .news .card-wrapper .res-group_text h3, .container .right_side .teachers .card-wrapper .res-group_text h3, .container .right_side .login-wrapper .card-wrapper .res-group_text h3, .container .right_side .individual .card-wrapper .res-group_text h3, .container .right_side .group .card-wrapper .res-group_text h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: blue;
}
.container .right_side .category .card-wrapper .res-group .btn, .container .right_side .certifications .card-wrapper .res-group .btn, .container .right_side .about .card-wrapper .res-group .btn, .container .right_side .courses .card-wrapper .res-group .btn, .container .right_side .news .card-wrapper .res-group .btn, .container .right_side .teachers .card-wrapper .res-group .btn, .container .right_side .login-wrapper .card-wrapper .res-group .btn, .container .right_side .individual .card-wrapper .res-group .btn, .container .right_side .group .card-wrapper .res-group .btn {
  padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
.container .right_side .category .card-wrapper .res-group .btn .del, .container .right_side .certifications .card-wrapper .res-group .btn .del, .container .right_side .about .card-wrapper .res-group .btn .del, .container .right_side .courses .card-wrapper .res-group .btn .del, .container .right_side .news .card-wrapper .res-group .btn .del, .container .right_side .teachers .card-wrapper .res-group .btn .del, .container .right_side .login-wrapper .card-wrapper .res-group .btn .del, .container .right_side .individual .card-wrapper .res-group .btn .del, .container .right_side .group .card-wrapper .res-group .btn .del {
  text-decoration: none;
  border: none;
  padding: 5px 10px;
  background: #ce0202;
  font-size: 15px;
  font-family: sans-serif;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 0;
  z-index: 1;
}
.container .right_side .category .card-wrapper .res-group .btn .change, .container .right_side .certifications .card-wrapper .res-group .btn .change, .container .right_side .about .card-wrapper .res-group .btn .change, .container .right_side .courses .card-wrapper .res-group .btn .change, .container .right_side .news .card-wrapper .res-group .btn .change, .container .right_side .teachers .card-wrapper .res-group .btn .change, .container .right_side .login-wrapper .card-wrapper .res-group .btn .change, .container .right_side .individual .card-wrapper .res-group .btn .change, .container .right_side .group .card-wrapper .res-group .btn .change {
  text-decoration: none;
  border: none;
  padding: 5px 10px;
  background: #4fa800;
  font-size: 15px;
  font-family: sans-serif;
  color: #ffffff;
  margin-bottom: 0;
}
.container .right_side .category .card-wrapper_card, .container .right_side .certifications .card-wrapper_card, .container .right_side .about .card-wrapper_card, .container .right_side .courses .card-wrapper_card, .container .right_side .news .card-wrapper_card, .container .right_side .teachers .card-wrapper_card, .container .right_side .login-wrapper .card-wrapper_card, .container .right_side .individual .card-wrapper_card, .container .right_side .group .card-wrapper_card {
  width: 23rem;
  height: auto;
  box-shadow: 0 2px 5px 0 #a5a5a5;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .right_side .category .card-wrapper_card-image, .container .right_side .certifications .card-wrapper_card-image, .container .right_side .about .card-wrapper_card-image, .container .right_side .courses .card-wrapper_card-image, .container .right_side .news .card-wrapper_card-image, .container .right_side .teachers .card-wrapper_card-image, .container .right_side .login-wrapper .card-wrapper_card-image, .container .right_side .individual .card-wrapper_card-image, .container .right_side .group .card-wrapper_card-image {
  height: 12rem;
}
.container .right_side .category .card-wrapper_card-text, .container .right_side .certifications .card-wrapper_card-text, .container .right_side .about .card-wrapper_card-text, .container .right_side .courses .card-wrapper_card-text, .container .right_side .news .card-wrapper_card-text, .container .right_side .teachers .card-wrapper_card-text, .container .right_side .login-wrapper .card-wrapper_card-text, .container .right_side .individual .card-wrapper_card-text, .container .right_side .group .card-wrapper_card-text {
  padding: 7px 10px;
}
.container .right_side .category .card-wrapper_card-text_title, .container .right_side .certifications .card-wrapper_card-text_title, .container .right_side .about .card-wrapper_card-text_title, .container .right_side .courses .card-wrapper_card-text_title, .container .right_side .news .card-wrapper_card-text_title, .container .right_side .teachers .card-wrapper_card-text_title, .container .right_side .login-wrapper .card-wrapper_card-text_title, .container .right_side .individual .card-wrapper_card-text_title, .container .right_side .group .card-wrapper_card-text_title {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
  text-transform: capitalize;
  font-family: sans-serif;
  text-align: center;
  color: #3B82F6;
}
.container .right_side .category .card-wrapper_card-text_des, .container .right_side .certifications .card-wrapper_card-text_des, .container .right_side .about .card-wrapper_card-text_des, .container .right_side .courses .card-wrapper_card-text_des, .container .right_side .news .card-wrapper_card-text_des, .container .right_side .teachers .card-wrapper_card-text_des, .container .right_side .login-wrapper .card-wrapper_card-text_des, .container .right_side .individual .card-wrapper_card-text_des, .container .right_side .group .card-wrapper_card-text_des {
  font-family: sans-serif;
  text-align: justify;
}
.container .right_side .category .card-wrapper_card-btns, .container .right_side .certifications .card-wrapper_card-btns, .container .right_side .about .card-wrapper_card-btns, .container .right_side .courses .card-wrapper_card-btns, .container .right_side .news .card-wrapper_card-btns, .container .right_side .teachers .card-wrapper_card-btns, .container .right_side .login-wrapper .card-wrapper_card-btns, .container .right_side .individual .card-wrapper_card-btns, .container .right_side .group .card-wrapper_card-btns {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .right_side .category .card-wrapper_card-btns .more, .container .right_side .certifications .card-wrapper_card-btns .more, .container .right_side .about .card-wrapper_card-btns .more, .container .right_side .courses .card-wrapper_card-btns .more, .container .right_side .news .card-wrapper_card-btns .more, .container .right_side .teachers .card-wrapper_card-btns .more, .container .right_side .login-wrapper .card-wrapper_card-btns .more, .container .right_side .individual .card-wrapper_card-btns .more, .container .right_side .group .card-wrapper_card-btns .more {
  text-decoration: none;
  border: none;
  padding: 5px 10px;
  background: #3B82F6;
  font-size: 15px;
  font-family: sans-serif;
  color: #ffffff;
  cursor: pointer;
}
.container .right_side .category .card-wrapper_card-btns div, .container .right_side .certifications .card-wrapper_card-btns div, .container .right_side .about .card-wrapper_card-btns div, .container .right_side .courses .card-wrapper_card-btns div, .container .right_side .news .card-wrapper_card-btns div, .container .right_side .teachers .card-wrapper_card-btns div, .container .right_side .login-wrapper .card-wrapper_card-btns div, .container .right_side .individual .card-wrapper_card-btns div, .container .right_side .group .card-wrapper_card-btns div {
  text-decoration: none;
  border: none;
  padding: 5px 10px;
  background: #ce0202;
  font-size: 15px;
  font-family: sans-serif;
  color: #ffffff;
  cursor: pointer;
}
.container .right_side .category .card-wrapper_card-btns .NavLink, .container .right_side .certifications .card-wrapper_card-btns .NavLink, .container .right_side .about .card-wrapper_card-btns .NavLink, .container .right_side .courses .card-wrapper_card-btns .NavLink, .container .right_side .news .card-wrapper_card-btns .NavLink, .container .right_side .teachers .card-wrapper_card-btns .NavLink, .container .right_side .login-wrapper .card-wrapper_card-btns .NavLink, .container .right_side .individual .card-wrapper_card-btns .NavLink, .container .right_side .group .card-wrapper_card-btns .NavLink {
  text-decoration: none;
  border: none;
  padding: 5px 10px;
  background: #4fa800;
  font-size: 15px;
  font-family: sans-serif;
  color: #ffffff;
}
.container .right_side .category-title, .container .right_side .certifications-title, .container .right_side .about-title, .container .right_side .courses-title, .container .right_side .news-title, .container .right_side .teachers-title, .container .right_side .login-wrapper-title, .container .right_side .individual-title, .container .right_side .group-title {
  text-align: center;
  font-family: sans-serif;
  color: #3B82F6;
  font-size: 24px;
  text-transform: capitalize;
}
@media (max-width: 1020px) {
  .container .right_side .category-title, .container .right_side .certifications-title, .container .right_side .about-title, .container .right_side .courses-title, .container .right_side .news-title, .container .right_side .teachers-title, .container .right_side .login-wrapper-title, .container .right_side .individual-title, .container .right_side .group-title {
    font-size: 20px;
  }
}
.container .right_side .category-wrapper, .container .right_side .certifications-wrapper, .container .right_side .about-wrapper, .container .right_side .courses-wrapper, .container .right_side .news-wrapper, .container .right_side .teachers-wrapper, .container .right_side .login-wrapper-wrapper, .container .right_side .individual-wrapper, .container .right_side .group-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .right_side .category-wrapper_form, .container .right_side .certifications-wrapper_form, .container .right_side .about-wrapper_form, .container .right_side .courses-wrapper_form, .container .right_side .news-wrapper_form, .container .right_side .teachers-wrapper_form, .container .right_side .login-wrapper-wrapper_form, .container .right_side .individual-wrapper_form, .container .right_side .group-wrapper_form {
  width: 100%;
}
.container .right_side .category-wrapper_form .input-group, .container .right_side .certifications-wrapper_form .input-group, .container .right_side .about-wrapper_form .input-group, .container .right_side .courses-wrapper_form .input-group, .container .right_side .news-wrapper_form .input-group, .container .right_side .teachers-wrapper_form .input-group, .container .right_side .login-wrapper-wrapper_form .input-group, .container .right_side .individual-wrapper_form .input-group, .container .right_side .group-wrapper_form .input-group {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
.container .right_side .category-wrapper_form .input-group .switch, .container .right_side .certifications-wrapper_form .input-group .switch, .container .right_side .about-wrapper_form .input-group .switch, .container .right_side .courses-wrapper_form .input-group .switch, .container .right_side .news-wrapper_form .input-group .switch, .container .right_side .teachers-wrapper_form .input-group .switch, .container .right_side .login-wrapper-wrapper_form .input-group .switch, .container .right_side .individual-wrapper_form .input-group .switch, .container .right_side .group-wrapper_form .input-group .switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
.container .right_side .category-wrapper_form .input-group .switch input, .container .right_side .certifications-wrapper_form .input-group .switch input, .container .right_side .about-wrapper_form .input-group .switch input, .container .right_side .courses-wrapper_form .input-group .switch input, .container .right_side .news-wrapper_form .input-group .switch input, .container .right_side .teachers-wrapper_form .input-group .switch input, .container .right_side .login-wrapper-wrapper_form .input-group .switch input, .container .right_side .individual-wrapper_form .input-group .switch input, .container .right_side .group-wrapper_form .input-group .switch input {
  display: none;
}
.container .right_side .category-wrapper_form .input-group .slider, .container .right_side .certifications-wrapper_form .input-group .slider, .container .right_side .about-wrapper_form .input-group .slider, .container .right_side .courses-wrapper_form .input-group .slider, .container .right_side .news-wrapper_form .input-group .slider, .container .right_side .teachers-wrapper_form .input-group .slider, .container .right_side .login-wrapper-wrapper_form .input-group .slider, .container .right_side .individual-wrapper_form .input-group .slider, .container .right_side .group-wrapper_form .input-group .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.container .right_side .category-wrapper_form .input-group .slider:before, .container .right_side .certifications-wrapper_form .input-group .slider:before, .container .right_side .about-wrapper_form .input-group .slider:before, .container .right_side .courses-wrapper_form .input-group .slider:before, .container .right_side .news-wrapper_form .input-group .slider:before, .container .right_side .teachers-wrapper_form .input-group .slider:before, .container .right_side .login-wrapper-wrapper_form .input-group .slider:before, .container .right_side .individual-wrapper_form .input-group .slider:before, .container .right_side .group-wrapper_form .input-group .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}
.container .right_side .category-wrapper_form .input-group .active, .container .right_side .certifications-wrapper_form .input-group .active, .container .right_side .about-wrapper_form .input-group .active, .container .right_side .courses-wrapper_form .input-group .active, .container .right_side .news-wrapper_form .input-group .active, .container .right_side .teachers-wrapper_form .input-group .active, .container .right_side .login-wrapper-wrapper_form .input-group .active, .container .right_side .individual-wrapper_form .input-group .active, .container .right_side .group-wrapper_form .input-group .active {
  background-color: #3B82F6;
}
.container .right_side .category-wrapper_form .input-group .active:before, .container .right_side .certifications-wrapper_form .input-group .active:before, .container .right_side .about-wrapper_form .input-group .active:before, .container .right_side .courses-wrapper_form .input-group .active:before, .container .right_side .news-wrapper_form .input-group .active:before, .container .right_side .teachers-wrapper_form .input-group .active:before, .container .right_side .login-wrapper-wrapper_form .input-group .active:before, .container .right_side .individual-wrapper_form .input-group .active:before, .container .right_side .group-wrapper_form .input-group .active:before {
  transform: translateX(26px);
}
.container .right_side .category-wrapper_form .input-group .slider.round, .container .right_side .certifications-wrapper_form .input-group .slider.round, .container .right_side .about-wrapper_form .input-group .slider.round, .container .right_side .courses-wrapper_form .input-group .slider.round, .container .right_side .news-wrapper_form .input-group .slider.round, .container .right_side .teachers-wrapper_form .input-group .slider.round, .container .right_side .login-wrapper-wrapper_form .input-group .slider.round, .container .right_side .individual-wrapper_form .input-group .slider.round, .container .right_side .group-wrapper_form .input-group .slider.round {
  border-radius: 34px;
}
.container .right_side .category-wrapper_form .input-group .slider.round:before, .container .right_side .certifications-wrapper_form .input-group .slider.round:before, .container .right_side .about-wrapper_form .input-group .slider.round:before, .container .right_side .courses-wrapper_form .input-group .slider.round:before, .container .right_side .news-wrapper_form .input-group .slider.round:before, .container .right_side .teachers-wrapper_form .input-group .slider.round:before, .container .right_side .login-wrapper-wrapper_form .input-group .slider.round:before, .container .right_side .individual-wrapper_form .input-group .slider.round:before, .container .right_side .group-wrapper_form .input-group .slider.round:before {
  border-radius: 50%;
}
.container .right_side .category-wrapper_form .input-group label, .container .right_side .certifications-wrapper_form .input-group label, .container .right_side .about-wrapper_form .input-group label, .container .right_side .courses-wrapper_form .input-group label, .container .right_side .news-wrapper_form .input-group label, .container .right_side .teachers-wrapper_form .input-group label, .container .right_side .login-wrapper-wrapper_form .input-group label, .container .right_side .individual-wrapper_form .input-group label, .container .right_side .group-wrapper_form .input-group label {
  font-size: 20px;
  margin-bottom: 15px;
}
@media (max-width: 640px) {
  .container .right_side .category-wrapper_form .input-group label, .container .right_side .certifications-wrapper_form .input-group label, .container .right_side .about-wrapper_form .input-group label, .container .right_side .courses-wrapper_form .input-group label, .container .right_side .news-wrapper_form .input-group label, .container .right_side .teachers-wrapper_form .input-group label, .container .right_side .login-wrapper-wrapper_form .input-group label, .container .right_side .individual-wrapper_form .input-group label, .container .right_side .group-wrapper_form .input-group label {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
.container .right_side .category-wrapper_form .input-group input, .container .right_side .category-wrapper_form .input-group select, .container .right_side .certifications-wrapper_form .input-group input, .container .right_side .certifications-wrapper_form .input-group select, .container .right_side .about-wrapper_form .input-group input, .container .right_side .about-wrapper_form .input-group select, .container .right_side .courses-wrapper_form .input-group input, .container .right_side .courses-wrapper_form .input-group select, .container .right_side .news-wrapper_form .input-group input, .container .right_side .news-wrapper_form .input-group select, .container .right_side .teachers-wrapper_form .input-group input, .container .right_side .teachers-wrapper_form .input-group select, .container .right_side .login-wrapper-wrapper_form .input-group input, .container .right_side .login-wrapper-wrapper_form .input-group select, .container .right_side .individual-wrapper_form .input-group input, .container .right_side .individual-wrapper_form .input-group select, .container .right_side .group-wrapper_form .input-group input, .container .right_side .group-wrapper_form .input-group select {
  margin-bottom: 20px;
  padding: 10px;
  background: #ffffff;
}
.container .right_side .category-wrapper_form .input-group textarea, .container .right_side .certifications-wrapper_form .input-group textarea, .container .right_side .about-wrapper_form .input-group textarea, .container .right_side .courses-wrapper_form .input-group textarea, .container .right_side .news-wrapper_form .input-group textarea, .container .right_side .teachers-wrapper_form .input-group textarea, .container .right_side .login-wrapper-wrapper_form .input-group textarea, .container .right_side .individual-wrapper_form .input-group textarea, .container .right_side .group-wrapper_form .input-group textarea {
  margin-bottom: 20px;
  padding: 10px;
}
.container .right_side .category-wrapper_form .input-group .image, .container .right_side .certifications-wrapper_form .input-group .image, .container .right_side .about-wrapper_form .input-group .image, .container .right_side .courses-wrapper_form .input-group .image, .container .right_side .news-wrapper_form .input-group .image, .container .right_side .teachers-wrapper_form .input-group .image, .container .right_side .login-wrapper-wrapper_form .input-group .image, .container .right_side .individual-wrapper_form .input-group .image, .container .right_side .group-wrapper_form .input-group .image {
  border: 1px solid #767676;
  cursor: pointer;
}
.container .right_side .category-wrapper_form .input-group .btn, .container .right_side .certifications-wrapper_form .input-group .btn, .container .right_side .about-wrapper_form .input-group .btn, .container .right_side .courses-wrapper_form .input-group .btn, .container .right_side .news-wrapper_form .input-group .btn, .container .right_side .teachers-wrapper_form .input-group .btn, .container .right_side .login-wrapper-wrapper_form .input-group .btn, .container .right_side .individual-wrapper_form .input-group .btn, .container .right_side .group-wrapper_form .input-group .btn {
  display: flex;
  align-items: center;
  justify-content: end;
}
.container .right_side .category-wrapper_form .input-group .btn button, .container .right_side .certifications-wrapper_form .input-group .btn button, .container .right_side .about-wrapper_form .input-group .btn button, .container .right_side .courses-wrapper_form .input-group .btn button, .container .right_side .news-wrapper_form .input-group .btn button, .container .right_side .teachers-wrapper_form .input-group .btn button, .container .right_side .login-wrapper-wrapper_form .input-group .btn button, .container .right_side .individual-wrapper_form .input-group .btn button, .container .right_side .group-wrapper_form .input-group .btn button {
  padding: 7px 20px;
  background: #ffffff;
  border: 1px solid #787878;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.container .right_side .category-wrapper_form .input-group .btn button:hover, .container .right_side .certifications-wrapper_form .input-group .btn button:hover, .container .right_side .about-wrapper_form .input-group .btn button:hover, .container .right_side .courses-wrapper_form .input-group .btn button:hover, .container .right_side .news-wrapper_form .input-group .btn button:hover, .container .right_side .teachers-wrapper_form .input-group .btn button:hover, .container .right_side .login-wrapper-wrapper_form .input-group .btn button:hover, .container .right_side .individual-wrapper_form .input-group .btn button:hover, .container .right_side .group-wrapper_form .input-group .btn button:hover {
  background: #222222;
  color: #ffffff;
}

@media only screen and (max-width: 640px) {
  .category, .certifications, .about, .courses, .news, .teachers, .group, .individual, .login-wrapper {
    padding: 20px 15px !important;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 450px) {
  .category, .certifications, .about, .courses, .news, .teachers, .group, .individual, .login-wrapper {
    padding: 20px 15px !important;
  }

  .card-wrapper_card {
    width: 100% !important;
  }

  .res-group {
    width: 100% !important;
    box-sizing: border-box;
  }

  .courses-title {
    font-size: 25px;
    margin: 20px 0;
  }
}
body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./images/bodyBackground-5.png") center/cover no-repeat;
  background-attachment: fixed;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(#2cbaff, #3B82F6);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #2cbaff);
}

/*# sourceMappingURL=App.css.map */
