.courses{
  flex: 7;
  padding: 35px 40px;
  overflow-y: auto;

  &-title{
    text-align: center;
    font-family: sans-serif;
    color: #3B82F6;
    padding: 0;
    margin: 0;
  }
  &-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &_form{
      width: 100%;
      padding: 30px;

      .input-group{
        display: flex;
        flex-direction: column;
        font-family: sans-serif;

        label{
          font-size: 20px;
          margin-bottom: 15px;
        }
        input{
          margin-bottom: 20px;
          padding: 10px;
        }
        textarea{
          margin-bottom: 20px;
          padding: 10px;
        }
        .image{
          border: 1px solid #767676;
          cursor: pointer;
        }
        .btn{
          display: flex;
          align-items: center;
          justify-content: end;
          margin-top: 15px;
          button{
            padding: 7px 20px;
            background: #ffffff;
            border: 1px solid #787878;
            text-transform: uppercase;
            font-weight: 600;
            transition: all .5s ease-in-out;
            cursor: pointer;

            &:hover{
              background: #222222;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}