.courses{
  flex: 7;
  padding: 35px 40px;
  overflow-y: auto;

  &-title{
    text-align: center;
    font-family: sans-serif;
    color: #3B82F6;
    padding: 0;
    margin: 0;
  }
  &-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &_form{
      padding: 30px;

      .input-group{
        display: flex;
        flex-direction: column;

        label{
          font-size: 20px;
        }
      }
    }
  }
}